<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Grupos</strong>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mt-3 mb-2">

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">

        <!--Nome/Descrição-->
        <div class="row mb-2">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Nome</span>
              </div>
              <input type="text"
                id="nome"
                name="nome"
                class="form-control"
                [(ngModel)]="grupo.nome"
                required />
            </div>
          </div>
            <div class="col-6">
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Descrição</span>
              </div>
              <input type="text"
                id="descricao"
                name="descricao"
                class="form-control"
                [(ngModel)]="grupo.descricao"
                required />
              </div>
          </div>
        </div>

        <!-- Ativo -->
        <div class="row mb-2">
          <div class="col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <div class="form-check form-check-inline">
                    <input type="radio"
                      id="ativoSim"
                      name="ativo"
                      [(ngModel)]="grupo.flAtivo"
                      [value]="true"
                      class="form-check-input"
                      required />
                    <label class="form-check-label">Sim</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio"
                      id="ativoNao"
                      name="ativo"
                      [(ngModel)]="grupo.flAtivo"
                      [value]="false"
                      class="form-check-input"
                      required />
                    <label class="form-check-label">Não</label>
                  </div>
                </div>
              </div>
              <input type="text" class="form-control" value="Ativo" readonly />
            </div>
          </div>

        </div>

        <div class="row mt-5 mb-5">
          <div class="col-12">
            <button *ngIf="!grupo.cdGrupo && authService.temPermissao('ADICIONAR_GRUPO')"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!f.valid">
                    <i class="fa fa-save"></i> Salvar</button>

            <button *ngIf="grupo.cdGrupo && authService.temPermissao('ATUALIZAR_GRUPO')"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!f.valid">
                    <i class="fa fa-edit"></i> Atualizar</button>

            <button type="button"
                    class="btn btn-primary"
                    (click)="limpar()">
                    <i class="fa fa-eraser"></i> Limpar</button>
          </div>
        </div>

      </form>

      <!-- Grupos -->
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-grupo [ngForOf]="grupos">
                  <tr>
                    <td>{{ grupo.cdGrupo }}</td>
                    <td>{{ grupo.nome }}</td>
                    <td>{{ grupo.descricao }}</td>
                    <td>
                      <div class="btn-group-sm float-left">
                        <button *ngIf="authService.temPermissao('BUSCAR_GRUPO')" type="button"
                                (click)="buscar(grupo.cdGrupo)"
                                class="btn btn-primary m-1"><i class="fa fa-search"></i> Buscar</button>
                      </div>
                    </td>
                  </tr>

                </ng-template>

                <tr *ngIf="!grupos || grupos.length < 1">
                  <td class="tr-text-center" colspan="4">
                    <h5>Nenhum dado a ser exibido.</h5>
                  </td>
                </tr>

              </tbody>
            </table>
            <div class="col-4 offset-4">
              <ngb-pagination
                [collectionSize]="page.totalElements"
                [(page)]="page.number"
                [pageSize]="page.size"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="listar($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
